{% extends "layout2.html" %}                
{% block content %}
<div class="auth">
    <div class="card">
        <div class="text-center mb-5">
            <h5><img src="/static/assets/images/logoGrsab.png" width="350" height="150" style="border-radius: 20px;" alt="GRESAB" /></h5>
        </div>
        <div class="card-body">
            <div class="card-title">Tú nueva contraseña</div>
           
            <p class="text-muted">Un correo ha sido enviado con un link para generar una nueva contraseña</p>
            
            
            
            </form>
        </div>
        <div class="text-center text-muted">
            <a href="login.html">Regresame</a> a la pantalla de inicio de sesión.
        </div>
    </div>
</div>
{% endblock %}