<!-- ESTE ES UN PEDAZO DE Ht PARA PEGARLO DENTRO DEL MODAL DEL MANEJO DE RESIDUOS DEL CLIENTE -->

<!-- Bootstrap Core and vandor -->
<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="../assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
<link rel="stylesheet" href="../assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"/>
<link rel="stylesheet" href="../assets/plugins/multi-select/css/multi-select.css">
<link rel="stylesheet" href="../assets/plugins/dropify/css/dropify.min.css">

<!-- Core css -->
<link rel="stylesheet" href="../assets/css/main.css"/>
<link rel="stylesheet" href="../assets/css/theme4.css" id="stylesheet"/>

<body class="font-opensans">

<!-- Start main html -->
<div id="main_content">

    <!-- start main body part-->
    <div class="page">

        <!-- start body header -->
        <div id="page_top" class="section-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left">
                        <h1 class="page-title">Manejo Residuos del Cliente</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body">
            <div class="container-fluid">
                <!-- Multi Select -->
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Selección de Tipos y Cantidad de Residuos Generados</h3>
                            </div>
                            <form class="card" id="basic-form" method={{method}} novalidate action="{{action}}"
                                        data-redirect="{{url_redirect}}">
                                <div class="card-body demo-card">                                
                                    <div class="row clearfix">
                                        <div class="form-group col-lg-4 col-md-12">
                                            <label>Razón Social</label>
                                            <input id="razonSocial" name="razonSocial" type="text" class="form-control" required value="{{cliente.razonSocial if cliente is not none else ""}}" disabled>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-lg-4 col-md-12">
                                            <label>Tipos de Residuo</label>
                                            <div class="form-group multiselect_div">
                                                <select id="multiselect4-filter" name="multiselect4[]" class="multiselect multiselect-custom">
                                                    <option selected disabled>Seleccione</option>
                                                    <option value="biodeg">Biodegradables</option>
                                                    <option value="recicl">Recicables</option>
                                                    <option value="inertes">Inertes</option>
                                                    <option value="ordina">Ordinarios Comunes</option>
                                                    <option value="biosanit">Biosanitarios</option>
                                                    <option value="anatomo">Anatomopatológicos</option>
                                                    <option value="cortop">Cortopunzantes</option>
                                                    <option value="danim">De animales</option>
                                                    <option value="farma">Fármacos</option>
                                                    <option value="reactiv">Reactivos</option>
                                                    <option value="acusad">Aceites usados</option>
                                                    <option value="radioact">Radioactivos</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <label>SubClase de Residuo</label>
                                            <select id="subclase" name="subclase" class="form-control">
                                                {% for ciudad in ciudades %}
                                                    <option value="{{ciudad.id}}" {{"selected" if cliente.ciudad == ciudad.id else "" }}>{{ ciudad.nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <label>Clase de Residuo</label>
                                            <select id="clase" name="clase" class="form-control">
                                                <option value="cheese">Cheese</option>
                                                <option value="tomatoes">Tomatoes</option>
                                                <option value="mozarella">Mozzarella</option>
                                                <option value="mushrooms" disabled="disabled">Mushrooms</option>
                                                <option value="pepperoni" disabled="disabled">Pepperoni</option>
                                                <option value="onions" disabled="disabled">Onions</option>
                                            </select>                                        
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-lg-4 col-md-12">
                                            <label>Peso Promedio</label>
                                            <input id="pesopro" name="pesopro" type="number" class="form-control" required>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <label>Número de Bolsas</label>
                                            <input id="numbol" name="numbol" type="number" class="form-control" required>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <label>Cantidad</label>
                                            <input id="catid" name="catid" type="number" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <button id="btnguardc" name="btnguardc" type="submit" class="btn btn-primary">Grabar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery and bootstrtap js -->
<script src="../assets/bundles/lib.vendor.bundle.js"></script>

<!-- start plugin js file  -->
<script src="../assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="../assets/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="../assets/plugins/multi-select/js/jquery.multi-select.js"></script>
<script src="../assets/plugins/jquery.maskedinput/jquery.maskedinput.min.js"></script>
<script src="../assets/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
<script src="../assets/plugins/dropify/js/dropify.min.js"></script>

<!-- Start core js and page js -->
<script src="../assets/js/core.js"></script>
<script src="assets/js/form/form-advanced.js"></script>
</body>

<script>
    window.addEventListener('load', function () {
        const form = document.getElementById("basic-form");
        form.addEventListener("submit", send_json);
    })
</script>