{% extends "layout.html" %}
{% block content %}
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="left">
                            <h1 class="page-title">Tabla de Clientes</h1>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Manejo de datos del Cliente y datos iniciales de los residuos de cada cliente</h3>
                                </div>
                                <div class="card-body">
                                    <button id="addToTable" class="btn btn-primary mb-15" type="button">
                                        <i class="icon wb-plus" aria-hidden="true"></i>Agregar Cliente
                                    </button>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-vcenter table-striped dataTable" cellspacing="0" id="addrowExample">
                                            <thead>
                                                <tr>
                                                    <th class="sorting">NOMBRE</th>
                                                    <th class="sorting">NIT</th>
                                                    <th class="sorting">Contacto</th>
                                                    <th class="sorting">Teléfono</th>
                                                    <th class="sorting">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>NOMBRE</th>
                                                    <th>NIT</th>
                                                    <th>Contacto</th>
                                                    <th>Teléfono</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="basic-form" method="post" action="/clientes/search" novalidate>
                            <div class="form-group">
                                <label>N.I.T.</label>
                                <input id="nit" name="nit" type="text" class="form-control" required>
                            </div>
                            <button id="btnSearch" name="btnSearch" type="submit" class="btn btn-primary">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>                    
        </div>
    </div>
</div>
<!-- Modal -->
<!-- BEGIN primary modal -->
<div class="modal fade" id="MdlGestRescli" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="left">
                    <h1 class="page-title">Manejo de Clientes</h1>
                </div>
                <button name="elBtnclsAC" id="elBtnclsAC" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">

                <form action="/add_ctrl" name="validation-formU" id="validation-formU" method="POST">
                    <div class="form-row" id="pagectrlg">
                        <div class="form-group col-md-2">
                            <center>
                                <label for="codriectrlg">Código del Riesgo</label>
                                <input type="text" name="codriectrlg" id="codriectrlg" class="form-control" style="text-align: center; background-color: #1e6075; color: white;">
                            </center>
                        </div>
                        <div class="form-group col-md-10">
                            <label for="respdlacs">Elija la Causa a Controlar</label>
                            <select id="respdlacs" name="respdlacs" class="form-control" onchange="Prenderdbtn();">
                                <option label="Responsable Monitoreo ..." selected disabled></option>
                                {% for respon in resplanM %}
                                    <option>{{ respon.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <div style="display: block; margin-left: 13px;" class="form-group" id="radiosec1">
                                <div style="display: none;" class="form-check" id="losradbct">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="validation-radios" id="lasec1" data-toggle="modal" data-target="#definiplan" onclick="return veropcpcc();"> Crear Control
                                    </label>
                                    <label style="margin-left: 40px;" class="form-check-label">
                                        <input class="form-check-input" type="radio" name="validation-radios" id="lasec2" data-toggle="modal" data-target="#definiplan" onclick="return noveropcpcc();"> Elegir Control Existente
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div style="display: none;" id="loscon" class="form-group col-md-10">
                            <label for="listadctr">Lista de Controles</label>
                            <select id="listadctr" name="listadctr" class="form-control">
                                <option label="Elija Control ..." selected disabled></option>
                                {% for loscont in qryPctrl %}
                                    <option>{{ loscont.2 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="display: none;" id="nomdctrl" class="form-group col-md-6">
                            <label class="form-label" for="nomdlctrl">Nombre del Control</label>
                            <textarea class="form-control" name="nomdlctrl" id="nomdlctrl" placeholder="Escriba el nombre asignado al Control" rows="2"></textarea>
                            <div id="mendernc" style="display: none;" class="form-group col-md-12">
                                <a id="errNombc" class="formulario__input-error" style="padding: 10px;">Debe escribir un nombre válido de Control</a>
                            </div>
                        </div>
                        <div style="display: none;" id="nomddescp" class="form-group col-md-6">
                            <label class="form-label" for="descdlctrl">Descripción del Control</label>
                            <textarea class="form-control" name="descdlctrl" id ="descdlctrl" placeholder="Describa la Acción del Control" rows="2"></textarea>
                            <div id="menderDesc" style="display: none;" class="form-group col-md-12">
                                <a id="errDescc" class="formulario__input-error" style="padding: 10px;">Debe escribir una Descripción del control (prendegrab();)</a>
                            </div>
                        </div>
                        <div id="accdelCtrl" class="form-group col-md-6" style="display: none;">
                            <label for="accdctrl">Acción del Control</label>
                            <select id="accdctrl" name="accdctrl" class="form-control" onchange="return calcallctrl('accdctrl','codriectrlg');">
                                <option label="seleccione la Acción..." selected disabled></option>
                                <option value="Probabilidad">Probabilidad
                                <option value="Impacto">Impacto
                                <option value="Probabilidad e Impacto">Probabilidad e Impacto
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <input style="display: none;" type="text" name="codCtrlgen" id="codCtrlgen" class="form-control">
                            <input style="display: none;" type="text" name="codMeloMuT" id="codMeloMuT" class="form-control">
                        </div>
                    </div>

                    <div id="hijodepta" style="display: none;">
                        <h2 id="encabezado">Control Asignado Satisfactoriamente</h2>
                    </div>
                    <div class="modal-footer">															
                        <button type="submit" id="btnGrab" class="btn btn-success" style="background-color: #1e6075; display: none;" onclick="return grabactrl();">Grabar</button>
                    </div>
                    <button style="display: none;" type="submit" id="ylograbaelctrl" class="" data-dismiss="modal" data-toggle="modal" data-target="#ModalPrimGrabaC" onclick="return enviando();">Grabar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <button style="background-color: #fff; border-style: none;" type="submit" id="ylograbaelctrl" class="btn btn-secondary bodymsg" data-dismiss="modal" data-toggle="modal" data-target="#ModalPrimGrabaC" onclick="return enviando();">Grabar</button> -->
<!-- END primary modal -->
{% endblock %}
{% block scripts %}
<script>
    var clientRowTable = {
        options : {
            table: "#addrowExample"
        },
        initialize: function () {
            this.setVars().events();
        },
        setVars: function() {
            return this.$table = $(this.options.table), 
                   this.$addButton = $(this.options.addButton), 
                   this.dialog = {}, 
                   this
        },
        events: function() {
            var self = this;
            this.$addButton.on("click", function(e) {
                e.preventDefault();
                self.addRow();
            });
            this.$table.on("click", ".button-edit", function(e) {
                e.preventDefault();
                var id = e.target.closest("tr").id
                window.location.href = "/clientes/" + id;
            });
            this.$table.on("click", ".button-remove", function(e) {
                e.preventDefault();
                self.removeRow($(this).closest("tr"));
            });
        },

    }

    $(document).ready(function() {
        var table = $('#addrowExample').DataTable({
            "ajax": {
                "url": "/clientes/json",
                "type": "GET",
                "data": function ( d ) {
                    d.nit = $('#nit').val();
                }
            },
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ total de registros)",
                "search": "Buscar:",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                }
            },
            responsive: true,
            autoWidth: false,
            "columns": [
                { "data": "razonSocial" },
                { "data": "nit" },
                { "data": "contacto" },
                { "data": "telefono" },
                {
                    "className":      'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": '<button class="btn btn-sm btn-icon on-editing button-discard data-toggle="tooltip" data-original-title="Discard" hidden><i class="icon-close" aria-hidden="true"></i></button><button class="btn btn-sm btn-icon on-default m-r-5 button-edit data-toggle="tooltip" data-original-title="Editar"><i class="icon-pencil" aria-hidden="true"></i></button>                                                        <button class="btn btn-sm btn-icon on-default button-remove data-toggle="modal" data-target="#MdlGestRescli" data-original-title="Residuos"><i class="icon-trash" aria-hidden="true"></i></button>'
                },                
            ],
            rowId: 'id',            
            columnDefs: [
                { orderable: false, targets: [4] }
            ]
        });
        clientRowTable.initialize();
    });

</script>
{% endblock %}
