{% extends "layout.html" %}
{% block content %}
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="left">
                            <h1 class="page-title">Tabla de Clientes</h1>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Add Row</h3>
                                </div>
                                <div class="card-body">
                                    <button id="addToTable" class="btn btn-primary mb-15" type="button">
                                        <i class="icon wb-plus" aria-hidden="true"></i> Add row
                                    </button>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-vcenter table-striped" cellspacing="0" id="addrowExample">
                                            <thead>
                                                <tr>
                                                    <th>NOMBRE</th>
                                                    <th>NIT</th>
                                                    <th>Contacto</th>
                                                    <th>Teléfono</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>NOMBRE</th>
                                                    <th>NIT</th>
                                                    <th>Contacto</th>
                                                    <th>Teléfono</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {% for datoscli in clientes %}
                                                <tr>
                                                    <td id="razs">{{ datoscli.razonSocial }}</td>
                                                    <td id="nit">{{ datoscli.nit }}</td>
                                                    <td id="nomb">{{ datoscli.contacto }}</td>                
                                                    <td id="nomb">{{ datoscli.telefono }}</td>
                                                    <td class="actions">
                                                        <button class="btn btn-sm btn-icon on-editing m-r-5 button-save"
                                                        data-toggle="tooltip" data-original-title="Save" hidden><i class="icon-drawer" aria-hidden="true"></i></button>
                                                        <button class="btn btn-sm btn-icon on-editing button-discard"
                                                        data-toggle="tooltip" data-original-title="Discard" hidden><i class="icon-close" aria-hidden="true"></i></button>
                                                        <button class="btn btn-sm btn-icon on-default m-r-5 button-edit"
                                                        data-toggle="tooltip" data-original-title="Edit"><i class="icon-pencil" aria-hidden="true"></i></button>
                                                        <button class="btn btn-sm btn-icon on-default button-remove"
                                                        data-toggle="tooltip" data-original-title="Remove"><i class="icon-trash" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="basic-form" method="post" action="/clientes/search" novalidate>
                            <div class="form-group">
                                <label>N.I.T.</label>
                                <input id="nit" name="nit" type="text" class="form-control" required>
                            </div>
                            <button id="btnSearch" name="btnSearch" type="submit" class="btn btn-primary">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>                    
        </div>
    </div>
</div>
{% endblock %}    